body {
background-color:#AAFFFFFF;
border: 4px inset  rgba(34,195,158,0.9);
 width: 320px;
  height:auto;
 touch-action: none;

}

h2{
text-align:center;
font-family:arial,helvetica;
  margin-top:3px;

}
.block {

 display: block;
width: 320px;
height:auto;
background-image: linear-gradient(to right top, #f0ab3f, #f4a752, #f5a462, #f4a272, #f0a280);
  touch-action: none;
  margin-top:3px;


}

.inside_blocks {
  width: 85px;
  height: 95px;
  display: inline-block;
  margin-top:3px;
  margin-left:5px;
}
.dropzone {
  width: 300px;
  height: auto;
  float:left;
  margin-top:10px;
background-image: linear-gradient(to right top, #f0ab3f, #f4a752, #f5a462, #f4a272, #f0a280);


}

.cliqi input{
  margin-top:2px;
  width: 60px;
  height: 30px;
 font-size: 1em;
 box-shadow: 4px 3px green;
  background: #F0843F;
  margin-left:10px;
  display: block;


}
