body {
background-color:#AAFFFFFF;
border: 4px inset  rgba(34,195,158,0.9);
 width: 340px;
  height:auto;
text-align:center;
font-family:arial,helvetica;

}
.block {
  display: block;
  width: 310px;
height:auto;
  border: 2px outset  rgba(34,195,158,0.9);
margin-top:5px;
  touch-action: none;


 
}
.inside_blocks {
width: 150px;
  height:50px;
  display: inline-block;

}



.dropzone {
  width: 310px;
  height:auto;
  float:left;
 border: 4px outset  rgba(34,195,158,0.9);
 margin:1px 0 0 0;
text-align: center;
margin-top:3px;

}

.cliqi input{
  margin-top:20px;
  width: 60px;
  height: 30px;
 font-size: 1em;
 box-shadow: 3px 2px green;
  background: #00AA7FFF;
  margin-left:2px;
  display: block;


} 
