body {
background-color:#AAFFFFFF;
border: 4px inset  rgba(34,195,158,0.9);
 width: 340px;
  height:auto;
text-align:center;
font-family:arial,helvetica;

 touch-action: none;

}
.block {
  display: block;
width: 330px;
height:auto;
  border: 2px outset  rgba(34,195,158,0.9);
  touch-action: none;

}
.inside_blocks {
  width: 101px;
  height: 98px;
  display: inline-block;

 
}
.dropzone {
  width: 320px;
  height: auto;
  float:left;
  margin-top:15px;
   border: 4px outset  rgba(34,195,158,0.9);

}

.cliqi input{
  margin-top:5px;
  width: 80px;
  height: 40px;
 font-size: 1em;
 box-shadow: 4px 3px green;
  background:#AAFFFFFF;
  margin-left:10px;
  display: block;


}
