* {
  box-sizing: border-box;
 touch-action: none;

}


html{
  background: #FFAA7FFF;
}


p{
 font-family: 'MuseoModerno', cursive;
 font-size:12px;
  line-height: 1;
  color: #000;
  margin-left: 10px;

}
h1{
   font-family: 'MuseoModerno', cursive;
  line-height: 0.1;
  color: #0C14A6FF;
  margin-left:50px;

}

.draggable {

  user-select: none;
  display: inline-block;
margin-top: 7px;
 margin-left:15px;
  
}

#outer-dropzone {
  height: 300px;
  width: 390px;
 touch-action: none;
  background-repeat: no-repeat;
  margin-top:30px;
  margin-left:10px;
  border: 5px solid #fff;
   animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {box-shadow: 10px 20px 30px blue;}
}

#inner-dropzone {
   height:320px;
    width: 390px;
  color: #444;
  margin-top: 5px;
  margin-left:10px;
}



.dropzone {
  width: 390px;
  background-color: #FFAA7FFF;
  border: outset 7px #FFFFFFFF;
  border-radius: 4px;
  padding:5px;
  margin-left: 10px;
  margin-top: 10px;
  transition: background-color 0.3s;
}



.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: transparent;
}

 input{
  border: 10px outset #29e5e7;
  width:70px;
  height:60px;
 font-size:24;
font-family: 'MuseoModerno', cursive;
  background:  #FFAA7FFF;
  margin-right:80px;
  display: inline;
float:left;


}

button, a{
  border: none;

}


a{
  cursor: pointer;
}

a img{
  width:70px;
  height:60px;
  margin-right:80px;
 border: 10px inset #29e5e7;

}
