* {
  box-sizing: border-box;
 touch-action: none;

}


html{
  background: #FFAA7FFF;
}


p{
 font-family: 'MuseoModerno', cursive;
 font-size:12px;
  line-height: 1;
  color: #000;
  margin-left: 10px;

}
h2{
   font-family: 'MuseoModerno', cursive;
  line-height: 0.1;
  color: #0C14A6FF;
  margin-left:20px;

}



.draggable {
 user-select: none;
  display: inline-block;
  width: 90px;
  height:80px;
  margin-left:6px;
  margin-top:4px;

}

#outer-dropzone {
   width: 410px;
  height: 200px;
 touch-action: none;
  background-image: url('../img/fndu.png');
  background-repeat: no-repeat;
  margin-top:2px;
  margin-left:20px;
  border: 5px solid #FFFF63FF;
   animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {box-shadow: 10px 20px 30px blue;}
}

#inner-zone{
 width: 370px;
 height: 450px;
 margin-left:20px;
 margin-right:15px;
 margin-top:20px;
border: 5px solid #FFFF63FF;

}


.dropzone {
  background-color: #ebebeb;
  border: dashed 4px transparent;
  border-radius: 4px;
  width: 100px;
  height:100px;
  float: left;
  margin-left:15px;
  margin-top:10px;
  transition: background-color 0.3s;
}




.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;


  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}



input{
  border: 10px outset #29e5e7;
  width:70px;
  height:60px;
 font-size:24;
font-family: 'MuseoModerno', cursive;
  background:  #FFAA7FFF;
  margin-right:80px;
  display: inline;
float:left;


}

button, a{
  border: none;

}


a{
  cursor: pointer;
}

a img{
  width:70px;
  height:60px;
  margin-right:80px;
 border: 10px inset #29e5e7;

}
