* {
  box-sizing: border-box;

}


html{
  background: #FFAA7FFF;
}


p{
 font-family: 'MuseoModerno', cursive;
 font-size:12px;
  line-height: 1;
  color: #000;
  margin-left: 10px;

}
h1{
   font-family: 'MuseoModerno', cursive;
  line-height: 0.1;
  color: #0C14A6FF;
  margin-left:60px;

}


.draggable {
  user-select: none;
  display: inline-block;
margin-top: 17px;
 margin-left:10px;
  
}

#outer-dropzone {
  width: 350px;
background-image: url("../img/num.png");
 background-repeat:no-repeat;
  height: 200px;
  margin-top:2px;
  margin-left:40px;
  border: 5px solid #fff;
   animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {box-shadow: 10px 20px 30px blue;}
}

#inner-dropzone {
   height:270px;
    width: 300px;
  margin-left:20px;
}



.dropzone {
  width: 380px;
height:290px;
background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(84,253,45,1) 100%);
  border: outset 7px #fff;
  border-radius: 4px;
  margin-top:20px;
  padding:5px;
  margin-left:10px;

  transition: background-color 0.3s;
}



.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: transparent;
}

input{
  border: 10px outset #29e5e7;
  width:70px;
  height:60px;
 font-size:24;
font-family: 'MuseoModerno', cursive;
  background:  #FFAA7FFF;
  margin-right:80px;
  display: inline;
float:left;


}

button, a{
  border: none;

}


a{
  cursor: pointer;
}

a img{
  width:70px;
  height:60px;
  margin-right:80px;
 border: 10px inset #29e5e7;

}
