body {
  color: white;
  text-align: center;

}
.block {
  display: block;
  width: 350px;
background:  linear-gradient(3deg, rgba(37,195,34,0.9) 33%, rgba(41,137,242,0.4) 92%);
  touch-action: none;


}
.block, .dropzone {
  height: 500px;  
}

.inside_blocks {
  width: 60px;
  height: 50px;
  display: inline-block;
  margin-top: 20px;

 
}
.dropzone {
  width: 300px;
  height: 230px;
  float:left;
  margin-top: 10px;

}


.cliqi input{
  margin-top:5px;
  width: 80px;
  height: 40px;
 font-size: 1em;
 box-shadow: 4px 3px green;
  background: #55AA00FF;
  margin-left:10px;
  display: block;

}
